html, body, #root {
  height: 100%;
  margin: 0;
}

.custom-sweetalert {
  border: 1px solid #1c2329;
}

.custom-sweetalert .swal-footer {
  text-align: center;
}

.custom-sweetalert .swal-footer button {
  background: #fe931f;
}

.custom-sweetalert .swal-footer button:focus {
  box-shadow: none;
}

.swal-overlay {
  background: #fff;
}
